@import 'https://fonts.googleapis.com/css?family=Lilita+One';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800';
/* GLOBAL STYLES */
body {
	font-family:'Lilita One', sans-serif;
}
p+img {
    margin-top:2em;
}
.img-margin {
	margin:6px;
}
p, input, label, .btn, ul {
	font-family: 'Open Sans', sans-serif;
}
.row-with-bottom-margin {
	margin-bottom: 30px;
}
li a:hover {
	text-decoration:none;
}
/* IMAGES */
figcaption {
    margin-top: 8px;
    text-align: center;
    color: #0074CE;
    font-size: 9pt;
}
figure {
	font-family:'Open Sans', sans-serif;
	font-size:14pt;
}
/* BOOTSTRAP NAVIGATION OVERIDES */
.navbar {
    margin:0;
    border-radius:0;
    font-size:11pt;
    font-family:'Open Sans', sans-serif;
    font-weight:800;
}
.navbar-inverse .navbar-brand {
	color:#E2B322;
	font-family:'Lilita One', sans-serif;
	font-weight:300;
}
.navbar-inverse .navbar-brand:hover {
	color:#E2B322;
	opacity:0.9;
}
.navbar-inverse .navbar-nav>li>a {
	color:#0074CE;
}
.navbar-inverse .navbar-nav>li>a:focus, 
    .navbar-inverse .navbar-nav>li>a:hover {
	color:#0074CE;
	opacity:0.9;
}
.navbar-inverse ul>li>a.login_button {
	color:#E2B322;
}
.navbar-inverse ul>li>a.login_button:hover {
	color:#E2B322;
	opacity:0.9;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#E2B322;
}
.navbar-inverse .dropdown-menu {
	background: #222222;
	padding: 0;
}
.navbar-inverse .dropdown-menu li>a {
	background: #222222;
	clear: both;
	color: #333;
	color: #0074CE;
	display: block;
	font-weight: 600;
	line-height: 1.42857143;
	padding: 3px 20px;
	white-space: nowrap;
}
.navbar-inverse .dropdown-menu li>a:hover {
	background:#E2B322;
}
/* JUMBOTRON */
.jumbotron {
	background:#AF402A;
	margin:0;	
}
.jumbotron #heading {
	color:#E2B322;
	font-size:28pt;
	margin-top:11px;
}
/* BREADCRUMBS */
.breadcrumb {
  background: #AF402A;
  font-weight: 600;
  text-align: right;
  border-radius: 0; 
  font-family:'Open Sans', sans-serif;
  margin-bottom:0px;
}
.breadcrumb a, .breadcrumb li.active, .breadcrumb li {
  color: #E2B322; 
}
.breadcrumb a.active {
  color: #fff;
  opacity: 0.9; 
}
.breadcrumb a:hover {
  opacity: 0.9;
  text-decoration: none; 
  }
/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
	text-transform:uppercase;
  color:#0074CE;
}
.page-header h1, 
.page-header h2 {
        color:#AF402A;
        font-size:20pt;
    }
/* FORMS */
.checkbox label {
	padding-left:40px;
}
/* PANELS */
.panel-body {
	font-family:'Open Sans', sans-serif;

}
.panel-body #contact_info li a {
	font-weight:800;
	font-size:15pt;
}
.panel-body #contact_info li a:hover {
	text-decoration: none;
	opacity:0.9;
}
.panel-heading h1 {
    color:#AF402A;
    font-size:16pt;
}
.panel-heading h1 @mixin atSmallest {
	display:none;
}
.panelContainer {
	font-family:'Open Sans', sans-serif;
}
.panelContainer h3 {
	font-family:'Lilita One', sans-serif;
}
.panel_go @mixin atSmall {
	display:none;
}
.well:hover {
	opacity:0.9;
}
h4.panel-title {
	color:#AF402A;
}
.panel_go {
	display:none;
}
@media (min-width:540px){
	.panel_go{
		display:inherit;
	}
}
.panel-heading.subject-header, select {
	font-family:'Open Sans', sans-serif;
}
/* TABLES */
table {
	font-family:'Open Sans', sans-serif;
	font-weight:400;
}
/* FOOTER */
.footer {
	list-style:none;
  padding:20px;
  font-family:'Open Sans', sans-serif;
  font-size:10pt;
}
/* MISCELLANEOUS */
.theory-test-pro {
	max-width:100%;
}
.lesson_recorded {
	background:#E2B322;
	color:#AF402A;
	text-align:center;
	padding:10px 0px;
	margin-top:0px;
	margin-bottom:10px;
}
/* SPECIFIC TO SHOW/TELL PAGE AND ANIMATIONS */
.vehicle {
    /* nissan note pics on show tell page */
    width:200px;
    height:158px;
}
.vehicle_table button {
    border-right:2px solid #7a7a7a;
    border-bottom:2px solid #7a7a7a;
}
.vehicle_table button:hover {
    color:orange;
    border-right:1px solid #7a7a7a;
    border-bottom:1px solid #7a7a7a;
}
.vehicle_table button:active {
    color:green;
}
.rear_lights img {
    margin:30px;
}
.front_lights img {
    margin:30px;
}
.rear_lights button {
    margin:0px;
}
input[type='number'] #mph {
    width:70px;
}
/* using post-css via gulpfile */