body {
	font-family:$head-font;
}

p+img {
    margin-top:2em;
}

.img-margin {
	margin:6px;
}

p, input, label, .btn, ul {
	font-family: $alt-font;
}

.row-with-bottom-margin {
	margin-bottom: 30px;
}

li a:hover {
	text-decoration:none;
}