$blue:#0074CE;
$yellow:#E2B322;
$red:#AF402A;
$grey:#e5e5d8;
$black:#222222;
$white:#fff;

$head-font:'Lilita One', sans-serif;
$alt-font:'Open Sans', sans-serif;

$light_font:300;
$med_font:400;
$bold_font:800;